body {
    background: #100007;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #4C0827;
  outline: 1px solid slategrey;
}
#videoElement {
    margin: 0 auto;
    max-width: 100%;
    height:auto;
}

.video-wrapper {
    /* background-color: #666; */
}

.caption-text {
    color: white;
    font-size: 40px;
    line-height: 1.3;
    transition: opacity .25s ease-in-out;
}

.caption {
    position: relative;
    padding: 10px;
    top: 0;
    left: 0;
    background: #100007/*200116*/;
    opacity: 0.7;
    max-width: 100%;
}

.hide-content {
    display: none;
}

.tech-used {
    color: mediumvioletred;
}

.jumbotron *, h3, h2{
    font-family: 'Comfortaa', cursive !important;
}

.jumbotron h1, .jumbotron h2 {
    color: #80D39B;
}

p {
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
}

#interim-span {
    font-size: 14px !important;
}